<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/default.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="hamburger">
            <span class="h-icon"></span>
            <span class="h-icon"></span>
            <span class="h-icon"></span>
        </div>
        <nav class="nav">
            <a class="nav-link active" href="#">Home</a>
            <a class="nav-link" href="#">About</a>
            <a class="nav-link" href="#">Contact</a>
        </nav>
    </header>
    <div class="page-container"></div>
    <footer></footer>
</body>
</html>