* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
    min-height: 100vh;
}

nav {
    height: 10vh;
    display: flex;
    background-image: linear-gradient(to bottom, #00c6fb 0%, #005bea 100%);
}

.nav-links {
    width:50%; 
    height: 100%;
    list-style: none; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left:auto;
}

.nav-links li a {
    color:#FFFFFF;
    text-decoration:none;
    font-size:20px;
    width: 100%;
    height: 100%;
    display: block;
}
.page-container {
    height: 80vh;
    width: 100%;
}
@media screen and (max-width:600px){
    .h-icon {
        width: 30px;
        height: 3px;
        margin: 5px;
        background-color:#ffffff;
    }
    nav {
        position: relative;
    }
    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top:20%;
        transform: translate(-5%, 20%);
        z-index:100;
    }
    .nav-links{
        position: fixed;
        background-image: linear-gradient(to bottom, #00c6fb 0%, #005bea 100%);
        width: 100%;
        height: 100vh;
        flex-direction: column;
        /* display: none; */
        clip-path: circle(100px at 90% -20%);
        -webkit-clip-path: circle(100px at 90% -20%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -20%);
        -webkit-clip-path: circle(1000px at 90% -20%);
        pointer-events: all; 
    }

    .page-container {
        display: flex;
        flex-direction: column;
    }

    .nav-links li{
        opacity:0;
    }

    .nav-links li a{
        font-size: 25px;
    }

    .nav-links li:nth-child(1) {
        transition:all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2) {
        transition:all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3) {
        transition:all 0.5s ease 0.6s;
    }
    li.fade {
        opacity:1;
    }
}